.root {
	
	-fx-font-family: "Courier New";
	-fx-font-size: 11pt;
	-fx-background-color: white;
}

.changebutton:hover {
	
	-fx-effect:dropshadow(gaussian, black, 5, 0.1, 2, 2);
}

.year {
	
	-fx-font-family: arial;
	-fx-font-size: 22pt;
	-fx-text-fill: white;
	-fx-effect:dropshadow(gaussian, black, 10, 0.2, 2, 2);
	-fx-font-weight: bold;
}